# Gradle
.gradle/
build/

# Local configuration
local.properties

# IDE files
.idea/
*.iml

# macOS
.DS_Store

# Android Studio
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json

# Logs
*.log

# IntelliJ
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Android Profiling
*.hprof